#logo{
    width:11vw ;
    height: 16vh;
    
}
#nav{
    background-color: rgba(0, 0, 0, 0.828);
}
#home{
    border-radius: 4vh;
    background-color: rgb(218, 200, 42);
    color: rgb(8, 1, 1);
    position: relative;
    left: 5vh;
    bottom: 5vh;
    width: 25vh;
    height: 8vh;
    
    font-family:fantasy,initial;
}
#about{
    border-radius: 4vh;
    background-color: rgb(218, 200, 42);
    color: rgb(8, 1, 1);
    position: relative;
    left: 20vh;
    bottom: 5vh;
    width:  25vh;
    height: 8vh;
}
   


#contact{
    border-radius: 4vh;
    background-color: rgb(218, 200, 42);
    color: rgb(8, 1, 1);
    position: relative;
    left: 12vh;
    bottom: 5vh;
    width: 25vh;
    height: 8vh;
    font-family:fantasy,initial;
   
}
#home:hover{
background-color: white;
color: red ;
box-shadow: 3vh;
border-color: red;
border: 4px solid black;
}
#contact:hover{
    background-color: white;
color: red ;
box-shadow: 3vh;
border-color: red;
border: 4px solid black;
}
#about:hover{
    background-color: white;
color: red ;
border-color: red;
border: 4px solid black;

}
#footer{
    height: auto;
    background-color: rgb(0, 0, 0);
   color: white;
    position: relative;
    top: 145vh;
    height: auto;
}
#signuptext{
    position: relative;
    bottom: 5vh;
    left: 34vh;
    color: aqua;
    font-size: 30px;

}
.tel{
    position: relative;
    left: 7vh;
}

